<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873383764909-douukrjrqhu2ke3hl61iivh9g8ceiv6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873383764909-douukrjrqhu2ke3hl61iivh9g8ceiv6v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>873383764909-r228b1mmbu6ism7ji3s0ic5n9mpmrtr0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgznM7UBMSQEW89ZWVC2yK7vCX6vUKli0</string>
	<key>GCM_SENDER_ID</key>
	<string>873383764909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lishengfeng.lunarcalendar</string>
	<key>PROJECT_ID</key>
	<string>lunar-calendar-s-1561836454167</string>
	<key>STORAGE_BUCKET</key>
	<string>lunar-calendar-s-1561836454167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873383764909:ios:27c1305bd57659cdc47724</string>
	<key>DATABASE_URL</key>
	<string>https://lunar-calendar-s-1561836454167.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4941610462008539~5758442884</string>
</dict>
</plist>